<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="te.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="account-box">
      <div class="account-icon">
        <img
          src="https://cdn-icons-png.flaticon.com/512/747/747376.png"
          alt="user icon"
        />
      </div>
      <div class="account-info">
        <a href="#" class="login-link">Đăng nhập / Đăng ký</a>
        <div class="dropdown">
          <span>Tài khoản của tôi</span>
          <span class="arrow">▼</span>
        </div>
      </div>
    </div>
  </body>
</html>
